{%- macro js(load_from_static, src='', type='text/javascript') -%}
  {%- if load_from_static -%}
    <script src="/static/{{ src }}" type="{{ type }}"></script>
  {%- else -%}
    <script src="{{ src }}" type="{{ type }}"></script>
  {%- endif -%}
{%- endmacro -%}

{%- macro image(load_from_static, src='', alt='', classes='', data_active_url=none) -%}
  {%- if load_from_static -%}
    {%- if data_active_url -%}
      <img src="/static/{{ src }}" alt="{{ alt }}" class="{{ classes }}" data-active-url="/static/{{ data_active_url }}">
    {%- else -%}
    <img src="/static/{{ src }}" alt="{{ alt }}" class="{{ classes }}">
    {%- endif -%}
  {%- else -%}
    {%- if data_active_url -%}
      <img src="{{ src }}" alt="{{ alt }}" class="{{ classes }}"  data-active-url="{{ data_active_url }}">
    {%- else -%}
      <img src="{{ src }}" alt="{{ alt }}" class="{{ classes }}">
    {%- endif -%}
  {%- endif -%}
{%- endmacro -%}

{%- macro link(load_from_static, href='', rel='stylesheet', sizes='', type='') -%}
  {%- if load_from_static -%}
    {%- if rel in ['stylesheet', 'manifest'] -%}
      <link href="/static/{{ href }}" rel="{{ rel }}">
    {%- elif rel in ['apple-touch-icon'] -%}
      <link href="/static/{{ href }}" sizes="{{ sizes }}" rel="{{ rel }}">
    {%- elif rel in ['icon'] -%}
      <link href="/static/{{ href }}" type="{{ type }}" sizes="{{ sizes }}" rel="{{ rel }}">
    {%- endif -%}
  {%- else -%}
    {%- if rel in ['stylesheet', 'manifest'] -%}
      <link href="{{ href }}" rel="{{ rel }}">
    {%- elif rel in ['apple-touch-icon'] -%}
      <link href="{{ href }}" sizes="{{ sizes }}" rel="{{ rel }}">
    {%- elif rel in ['icon'] -%}
      <link href="{{ href }}" type="{{ type }}" sizes="{{ sizes }}" rel="{{ rel }}">
    {%- endif -%}
  {%- endif -%}
{%- endmacro -%} 

{%- macro meta(load_from_static, content='', name='') -%}
  {%- if load_from_static -%}
    <meta content="/static/{{ content }}" name="{{ name }}">
  {%- else -%}
    <meta content="{{ content }}" name="{{ name }}">
  {%- endif -%}
{%- endmacro -%} 