{% extends "_base.html" %}

{% block body %}
  <div class="preloader">
      {{ m_res_import.image(true, "img/loader.gif", "Preloading animation") }}
  </div>
  
  {% block navmenu %}
    {% include 'nav/_menu.html' with context %}
  {% endblock %}

  <header id="intro">
      <div class="container">
        <div class="table">
          <div class="container-narrow">
            <div class="container-narrow-anchor"></div>
            <div id="ix-page-home" class="ix-page hidden">
              {% block ix_page_home %}
                {% include 'page/ix_home.html' with context %}
              {% endblock %}
            </div>
      
            <div id="ix-page-about" class="ix-page hidden">
              {% block ix_page_about %}
                {% include 'page/ix_about.html' with context %}
              {% endblock %}
            </div>
      
            <div id="ix-page-locations" class="ix-page hidden">
              {% block ix_page_locations %}
                {% include 'page/ix_locations.html' with context %}
              {% endblock %}
            </div>
      
	    <div id="ix-page-contact" class="ix-page hidden">
              {% block ix_page_contact %}
                {% include 'page/ix_contact.html' with context %}
              {% endblock %}
            </div>

            <div id="ix-page-peers" class="ix-page hidden">
              {% block ix_page_peers %}
                {% include 'page/ix_peers.html' with context %}
              {% endblock %}
            </div>
      
            <div id="ix-page-faq" class="ix-page hidden">
              {% block ix_page_faq %}
                {% include 'page/ix_faq.html' with context %}
              {% endblock %}
            </div>
        </div>
      </div>
    </div>
  </header>
</div>
{% endblock %}
