{% block ixp_about %}
<div class="marketing">
  <h4>Mission Statement</h4><p>

  <p>
  These are the core objectives of EVIX:
  </p>
	To provide a 0 cost, low-barrier Internet Exchange Point for users holding public resources to experiment with BGP and routing protocols.  <br/><br/>To facilitate tunnel-based peering in a more automated manner.
  <p>
  </p>
</div>

<div class="row-fluid marketing">
  <div class="span6">

    <h4>Who are the network operators?</h4><p>
    <ul>
      <li>Christopher Munz-Michielin - Technical Operations</li>
      <li>Bryce Wilson - Technical Operations & Public Relations</li>
    </ul>

    <h4>Special Thanks</h4>
    <ul>
      <li><a href="https://freerangecloud.com">Free Range Cloud / 10VPN Hosting</a> for a donation of a VPS in Fremont as well as IPv6 space for the peering LAN.</li>
      <li><a href="https://github.com/CIRALabs/IX-website">CIRALabs</a> for the excellent IXP-Website template which is used as a base for this site.</li>
    </ul>

  </div>
</div>
{% endblock %}
