{% block ixp_contact %}
<div class="marketing">
  <h4>Join EVIX!</h4>

  <p>
  Anyone is welcome to join EVIX, to start the process please fill out the contact form below (unless noted, all fields are required):
  </p>

  <p>
	Once your application has been receivied, it will be evaluated and processed by one of our volunteer staff.  When your application has been approved, you will be contacted by email to establish a peering session.  Please whitelist 'peering@evix.org' in your mail client to avoid missing these important instructions.
  </p>
<br/><br/>
  <p>
      If you need to contact us directly, please reach out to:
	<ul>
	<li>Email: <a href="mailto:peering@evix.org">peering@evix.org</a></li>
	<li>Discord: <a href="https://discord.gg/dXVpp6d">discord.gg/dXVpp6d</a></li>
	</ul>
  </p>
</div>

<div class="row-fluid marketing">
  <div class="span6">

    <h4>EVIX Peering Request Form</h4><p>
    <form action="/peering-form.php" method="POST" style="display:grid;grid-template-columns: 200px 1fr;">

	<b style="grid-column: 1 / 2;">ASN:</b><input type="text" name="asn" style="grid-column: 2 / 3;" /><br/>
	<b style="grid-column: 1 / 2;">Network Name:</b><input type="text" name="description" style="grid-column: 2 / 3;" /><br/>
	<b style="grid-column: 1 / 2;">IRRDB AS-SET:</b><input type="text" name="asset" style="grid-column: 2 / 3;" /><br/>
	<b style="grid-column: 1 / 2;">Contact Email:</b><input type="text" name="contact" style="grid-column: 2 / 3;" /><br/>
	<b style="grid-column: 1 / 2;">Website (optional):</b><input type="text" name="website" style="grid-column: 2 / 3;" /><br/>
	<b style="grid-column: 1 / 2;">Tunnel Location</b><select name="location" style="grid-column: 2 / 3;"><option value="FMT - Tunnel">Fremont</option><option value="NL - Tunnel">Netherlands</option><option value="NZ - Tunnel">New Zealand</option><option value="local">None/Ethernet</option></select>
	<b style="grid-column: 1 / 2;">	<input type="submit" value="submit" />
    </form>


  </div>
</div>
{% endblock %}
