{% block ixp_faq %}
<div class="marketing">

  <h4>How do we contact {{ ix.shortname }}?</h4>
  <p>Send email to <a href="mailto:peering@evix.org">peering@evix.org</a> for any issues.
	  All inquiries will be held confidential.</p>

	  <h4>How much do ports cost?</h4>
	<p>EVIX does not charge for participation as we believe in providing a low barrier of entry for any holders of public resources to participate in BGP. While we do not charge for participation, we do accept donations to cover the costs associated with running EVIX's infrastructure.</p>

	  <h4>How do we donate to {{ ix.shortname }}?</h4>
	<p>EVIX was built upon donations. We are very interested in receiving donations of VPS' to further extend the reach of our network. If you would be interested in donating resources to EVIX, please contact us by email:<a href="mailto: peering@evix.org">peering@evix.org</a> We also accept monetary donations to our PayPal email address: evix.org@gmail.com</p>

	  <h4>What Technology is Used to Connect Peers?</h4>
	  <p>{{ ix.shortname }} has two types of peers - local and remote.  Local peers have a <a href="https://freerangecloud.com">Free Range Cloud</a> VPS and have requested a complimentary cross connect to the {{ ix.shortname }} switch.
	<br/><br/> Remote peers use a layer2 tunneling protocol to connect to the {{ ix.shortname }} switch without a physical presence.  Supported tunneling protocols are EoIP, OpenVPN, GRETap and ZeroTier (Experimental).
	<br/><br/> All peers, local and remote, use BGP to exchange routing information with each other, and optionally, the {{ ix.shortname }} route server.</p>


	  <h4>Are there any rules?</h4><p>
	  The internet exchange switch is a fabric shared by all peers.
	  Peers must avoid doing anything which might overload the fabric,
	  mis-direct traffic, or otherwise cause harm to any other peers.  If
	  a peer shows a willful disregard for others, they will be
	  disconnected by the operators.  <br/><br/>Additionally, peers are requested to only send traffic
	  to destinations advertised by BGP.  <br/><br/>Do not point default routes and do not point static routes
	  to other operators.</p>
	  
	  <p>
	  While not a rule, we request that peers register themselves
	  with <a href="http://peeringdb.com/">http://peeringdb.com</a>, because
	  visibility there will encourage other networks to join as well,
	  bringing more benefit to all.</p>

	  <h4>What operating systems are supported?</h4>
	  <p>Technically any OS that supports VPN tunneling (current protocols include OpenVPN, ZeroTier or GRETap) and BGP or any version of Mikrotik RouterOS can be used.  We have officially tested on Debian, VyOS 1.18 and RouterOS 6</p>

	  <h4>Are there any example configurations?</h4>
	  <p>Yes! We have example configuration instructions available at: <a href="/Documents/example-config.pdf">example-config.pdf</a><br/>Send us an email if you would like to add to this document!</p>

	  <h4>What Subnets do you use?</h4>
	  <p>Our IPv6 subnet is 2602:fed2:fff:ffff::/64 which has been donated by 10VPN Hosting, while our IPv4 subnet is 206.81.104.0/24 and has been acquired directly from ARIN</p>

	  <h4>What is the process for getting connected?</h4><p>
	  Please fill out the peering request form on our <a href="/#contact">contact page</a> and one of our staff will get in touch.
	 </p>
	  <p>
	  Please see our <a onclick="$('#menu-btn-locations').click()" href="#locations">Locations list</a> for
	  the closest virtual switch to you.</p>

	  <h4>Do you have a looking glass?</h4><p>
	Yes!  We have a public looking glass available at <a href="http://lg.evix.org">lg.evix.org</a> which shows all peering sessions the router is configured for.

	  <h4>What other services can we expect?</h4><p>
	  EVIX currently operates a Route Server with ASN 137933.  No other services at available at this time, however, in future we may turn up some new services.
	  </p>

</div>

{% endblock %}
