{% import '_macros_res_imports.html' as m_res_import with context %}

{% block titlegraph %}
<div class="center-ix-display">
  <h4>{{ ix.shortname }}: {{ ix.location }} Internet Exchange</h4>

  {% if ix_pages.ix_home.header_element.center_ix_display.graph %}
    {{ m_res_import.image(true, "graph/e_week.png", "Weekly Graph") }}
  {% endif %}
</div>
{% endblock %}

{% block ixp_questions %}
<div class="row-fluid marketing">

  <div class="span6">
  {%- for qa in ix_pages.ix_home.body_element.questions_answers_v1 %}
    {{ qa }}
    {%- if loop.index0 == 2 %}

    </div>
    <div class="span6">
    
    {% endif -%}
  {% endfor -%}
  {%- if true %}

    </div>

  {% endif -%}

  {# {% set qkeys = [] %} #}

  {# for side in ix_pages.ix_home.body_element.questions_answers %}
    
    {%- for _side in [side['side_one'], side['side_two']]  -%}
        <div class="to-delete hidden">{{- qkeys.append(_side) -}}</div>
    {%- endfor -%} 
    {#- for _side in side['side_two'] -%}
      <div class="to-delete hidden">{{- qkeys_two.append(_side) -}}</div>
    {%- endfor -#}
  {# {% endfor %} #}
  
  {# for qkey in qkeys_one %}
    <h4>{{ ix_pages.ix_home.body_element.questions_answers.pop()['leftside']['side_one']['questions'][qkey]}}</h4>
  {% endfor #}
  
  {#
  <p>{{ qkeys[0] }}</p>
  <p>{{ qkeys[1] }}</p>
  <p>{{ qkeys[2] }}</p>
  <p>{{ qkeys[3] }}</p> #}
<br/>

<a href="https://twitter.com/EVI_Exchange?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @EVI_Exchange</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{% endblock %}
