{% block ixp_links %}
<div class="marketing">

  <h4>Links to reading material about Internet Exchanges</h4><p>
  <ul>

  <li><p><a href="https://cira.ca/build-better-internet/state-internet/state-internet-connect/canadian-internet-exchange-points-ixps">
      Canadian Internet Infrastructure: Made-in-Canada Internet Exchange Points (IXPs)</a><br>
      CIRA
      </p></li>      
      
  <li><p><a href="http://www.scribd.com/doc/105832435/Toward-Efficiencies-in-Canadian-Internet-Traffic-Exchange">
      Total Efficiencies in Canadian Internet Traffic Exchange</a><br>
      PCH (Packet Clearing House) authored article commissioned by CIRA.
      </p></li>            

  <li><p><a href="http://www.ams-ix.net/technical/specifications-descriptions">
      Specifications & Descriptions</a><br>
      AMS-IX top-level technical peering document root.
      </p></li>       

  <li><p><a href="http://www.ams-ix.net/technical/specifications-descriptions/config-guide">AMS-IX Port Configuration Hints</a><br>
      AMS-IX document describing peering configuration specifically.
      </p></li>              

  <li><p><a href="http://www.cisco.com/web/about/ac123/ac147/archived_issues/ipj_10-1/101_dns-infrastructure.html">Geographic Implications of DNS Infrastructure Distribution</a><br>
      PCH authored article explaining DNS root/ccTLD server placement.
      </p></li>        

  </ul>

</div>
{% endblock %}