{% block ixp_news %}
<div class="marketing">
    <h4>Progress Report (recent items first)</h4>
    <ul>
  <li><p>
    Jan 22, 2018 – {{ ix.shortname }} goes live and ready to accept peers.
    </p>
  <li><p>
    October 30, 2017 – M-Lab site live in Moncton (performance.cira.ca)
    </p>
  <li><p>
    June 16, 2017 – CIRA procures rack space at Fibre Center and provides colocation space
  to host and operate Moncton Internet Exchange along with Leon A. Morris as a volunteer.
    </p>
  <li><p>
    April 26, 2017 - A Press Conference and a Town Hall meeting was held in Moncton for the purposes of starting an internet exchange in New Brunswick.
    </p>
    </ul>
</div>
{% endblock %}