.idea
logs/*

__pycache__/

backups/*
config/arouteserver/clients.yml*
config/arouteserver/cache/**
config/arouteserver/cache
config/bird/bird*.conf
config/ccd
config/peers
config/playbooks/*.retry
run/openvpn-ca/pki/*
.DS_Store

secret-config.json
