[submodule "bgpq3"]
	path = run/bgpq3
	url = https://github.com/snar/bgpq3.git
[submodule "run/arouteserver"]
	path = run/arouteserver
	url = https://github.com/pierky/arouteserver.git
[submodule "run/bgpq4"]
	path = run/bgpq4
	url = git@github.com:bgp/bgpq4.git
[submodule "run/IX-Website"]
	path = run/IX-Website
	url = git@git.discovr.us:EVIX/EVIXWebsite.git
