@import url("undo-redo.css");
@import url("fira.css");

@keyframes gradient-animation {
  0% {
    background-position: right
  }
  100% {
    background-position: left
  }
}
:-moz-window-inactive {
  animation-play-state: paused;
}
::selection {
  background-color: var(--accent-translucent);
}

:root {
  /* Colors go here */
  --dark: #091540;
  --light: #7692ff;
  --light-font: #ABD2FA;
  --accent: #e60073;
  --accent-translucent: #e6007377;

  --gradient-continuous: linear-gradient(45deg, var(--accent), var(--light), var(--accent), var(--light));

  --corner-round: 0.2em;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;

  margin: 0;
  font-family: "Fira Sans", sans-serif;
  color: var(--dark);
  background-color: var(--light);
}

.top {
  .head {
    flex: 0 1 auto;

    width: 100%;
    background-color: var(--dark);
    color: var(--light-font);
    text-align: center;

    display: grid;
    grid-template-columns: auto auto;
    justify-items: stretch;
    align-items: center;

    > a {
      position: relative;
      display: flow-root;
      width: max-content;

      font-size: clamp(1rem, 4rem, 14vw);
      text-decoration: none;
      padding: 0.5em;
      margin: 0.3em 0.2em 0.3em 0.4em;

      &:hover, &:focus, &:focus-visible {
        outline: none;

        path {
          stroke-width: 4
        }
      }

      svg {
        position: absolute;

        width: calc(100% + 0.5em);
        height: calc(100% + 0.5em);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        stop {
          &:first-of-type {
            stop-color: var(--light);
          }
          &:last-of-type {
            stop-color: var(--accent);
          }
        }
        path {
          transition: stroke-width 200ms ease-in-out;
        }
      }

      span {
        position: relative;

        color: var(--dark);
        font-weight: 900;
        letter-spacing: 0.1em;
      }
    }

    nav ul {
      font-size: 1.6rem;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;

      li {
        padding: clamp(0.2em, 1em, 2vw);
        font-size: clamp(0.5rem, 100%, 5vw);
        text-align: right;

        a {
          box-shadow: 0 0 0 0 var(--dark),
          0 0 0 0 var(--accent);
          border-radius: var(--corner-round);

          -webkit-background-clip: text;
          //noinspection CssInvalidPropertyValue
          background-clip: text;
          background-size: 400%;
          background-image: var(--gradient-continuous);
          animation: gradient-animation 1s infinite linear normal paused;

          transition: color 100ms ease-in-out,
          box-shadow 200ms ease-in-out;

          color: inherit;
          text-decoration: none;

          &:hover {
            color: transparent;
            animation-play-state: running;
          }

          &:focus, &:focus-visible {
            outline: none;
            border: none;
            border-radius: var(--corner-round);

            box-shadow: 0 0 0 0.4em var(--dark),
            0 0 0 0.7em var(--accent);
          }
        }
      }
    }
  }

  svg {
    height: 5em;
    width: 100%;
  }
}
.body {
  font-size: 1.5rem;
  margin: clamp(5%, 2em, 10vw);
  height: 100%;
}
.flex-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.hero {
  margin: auto;
  width: max-content;

  display: grid;
  grid-template-columns: auto auto;
  justify-items: stretch;
  align-items: center;
  align-content: center;

  p, label {
    font-size: min(10rem, 13vw);
    line-height: 0.9;
    font-weight: 900;
    margin: 0;
    width: max-content;
  }

  label {
    grid-column: 1;
    color: var(--accent);
    text-align: center;
    justify-self: center;
    cursor: pointer;
  }

  div {
    overflow: hidden;
    width: 102%;
    padding-left: 1%;
    margin-left: -1%;
    margin-top: -2%;
    height: 130%;

    p {
      margin-left: -110%;
      margin-top: 2%;
      transition: margin-left 1s ease-in-out;
    }
  }

  input:checked + div p {
    margin-left: 0;
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  --modifier: calc(70ch - 100%);
  gap: 2em;

  > div {
    flex-grow: 1;
    flex-basis: calc(var(--modifier) * 999);
    max-width: 70ch;
  }
}
