
html {
    background: rgba(28, 36, 65, 0.07);
}

/* Custom container */

.container-narrow {
    margin: 0 auto;
    max-width: 800px;
}

.container-narrow>hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.center-ix-display {
    margin: 20px 0;
    text-align: center;
}

.center-ix-display h1 {
    font-size: 72px;
    line-height: 1;
}

.center-ix-display .btn {
    font-size: 21px;
    padding: 14px 24px;
}

@media only screen and (max-width: 990px) {
    .center-ix-display {
        margin-top: 3.3em;
    }
}


/* Supporting marketing content */

.marketing {
    margin: 60px 0;
}

.marketing p+h4 {
    margin-top: 28px;
}

.ix-logo {
    /*max-width: 220px;*/
    max-height: 41px;
}

@media only screen and (max-width: 990px) {
    .ix-logo {
        margin-left: 40%;
    }
}

.ix-page {
    top: 8em;
    position: relative;
} 

.menu-li {
    margin-left: 0.85em !important;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2) !important;
    color: rgb(190, 51, 54) !important;
}

.menu-li.active {
    background: rgba(190, 51, 54, 0.98) !important;
    color: rgb(255,255,255) !important;
}

.menu-li > a {
    padding: 15px 15px !important;
}

nav#ix-nav > div.container {
    max-width: 875px;
}

.navbar-brand {
    margin-left: -55px !important;
    padding: 3px 15px !important;
}

.navbar-brand > img {
    height: unset;
}